<div class="row">
    <div class="col-md-8">

        <div class="list-group">
            <p ng-if="loadingPokemons">Loading pokemons...</p>
            <div class="list-group-item" ng-repeat="singlePokemon in pokemons">

                <h4>
                    <a href="#/pokemons/{{singlePokemon.name }}">{{singlePokemon.name | uppercase }}</a>
                </h4>

            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="list-group">
          <p ng-if="loadingBerries">Loading berries...</p>
            <div class="list-group-item" ng-repeat="singleBerry in berries">

                <h4>
                    {{singleBerry.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
</div>
